services:
  app:
    image: sanchit044/doc-cluster:latest
    container_name: doc-cluster-app
    restart: always
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"

  db:
    image: postgres:15-alpine
    container_name: doc-cluster-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: doc-cluster-redis
    restart: always

volumes:
  pgdata:
